@import url("../../style/variables.scss");
@media only screen and (min-width: 64em) {
    .auth-container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 42rem;

        .title-auth {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--background-title-color);
            margin-bottom: 1rem;
        }

        .auth-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            padding-left: 2rem;
            padding-top: 0.5rem;
            padding-right: 2rem;
            padding-bottom: 0.5rem;
            border-radius: 1rem;

            .auth-text {
                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                    }

                    svg {
                        color: var(--text-title-color);
                    }
                }
            }

            .auth-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .auth-container {}
}

@media only screen and (max-width: 46.200625em) {
    .auth-container {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-items: center;

        .box-container {
            width: 100%;
            display: grid;
            align-content: center;
            height: 100%;
            justify-items: center;
            grid-template-rows: 10vw auto;

            .title-auth {
                text-align: center;
                font-size: 5vw;
                font-weight: 500;
                color: var(--background-title-color);
                width: 95%;
            }

            .auth-form {
                display: grid;
                background-color: var(--background-rdcolor);
                box-shadow: var(--box-shadow);
                margin: 0.2rem;
                border-radius: 1rem;
                width: 95%;
                justify-items: center;
                align-self: flex-start;

                .css-bz4dnt-MuiCollapse-root {
                    width: auto !important;
                }

                .auth-text {
                    margin-bottom: 1rem;
                    width: 88vw;

                    label {
                        z-index: 0;
                        color: var(--text-light-color);
                        font-size: 3vw;
                    }

                    div {
                        color: var(--text-light-color);
                        text-align: left;
                        font-size: 4vw;

                        input {
                            color: var(--text-light-color);
                            text-align: left;
                        }

                        fieldset {
                            border-color: var(--text-title-color);
                        }

                        svg {
                            color: var(--text-title-color);
                        }
                    }
                }

                .auth-text:hover {
                    label {
                        color: var(--text-danger-color);
                    }

                    div {
                        input {
                            color: var(--text-light-color);
                        }

                        fieldset {
                            border-color: var(--text-danger-color);
                        }
                    }
                }

                .btn-control {
                    width: 85vw;

                    button {
                        font-size: 3vw;
                        align-items: center;
                    }
                }
            }
        }
    }
}