@import url("../../style/variables.scss");

.auth-container {
    display: grid;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    height: 42rem;

    .title-auth {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--background-title-color);
        margin-bottom: 1rem;
    }

    .auth-form {
        display: grid;
        justify-content: center;
        background-color: var(--background-rdcolor);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        border-radius: 1rem;

        .auth-text {
            label {
                color: var(--text-light-color);
            }

            div {
                color: var(--text-light-color);
                text-align: left;

                input {
                    color: var(--text-light-color);
                    text-align: left;
                }

                fieldset {
                    border-color: var(--text-title-color);
                    ;
                }

                svg {
                    color: var(--text-title-color);
                    ;
                }
            }
        }

        .auth-text:hover {
            label {
                color: var(--text-danger-color);
            }

            div {
                input {
                    color: var(--text-light-color);
                    ;
                }

                fieldset {
                    border-color: var(--text-danger-color);
                    ;
                }
            }
        }
    }
}