@media screen and (min-width: 376px) {
    .auth-container-page {
        display: grid;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 42rem;

        .auth-style {
            text-align: center;

            .auth-ele {
                margin-bottom: 1rem;
            }

            .auth-title {
                // color: var(--text-title-color);
                background: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
                background-clip: text;
                color: transparent;
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .auth-container-page {
        display: grid;
        height: 38.1rem;
        width: 100%;
        justify-content: center;
        align-items: center;

        .auth-style {
            text-align: center;

            .auth-ele {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .auth-title {
                width: 375px;
                background: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
                background-clip: text;
                color: transparent;
                font-size: 2rem;
            }
        }
    }
}