@import "../../style/variables.scss";


@media screen and (max-width: 376px) {
    .error-message {
        height: auto;

        .css-1pxa9xg-MuiAlert-message {
            font-size: 1resm;
            padding: 0;
        }

    }
}