@import "../../style/variables.scss";

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: var(--background-stcolor);

    .list-nav {
        list-style-type: none;

        li {
            margin-bottom: 10%;
            font-weight: 600;
        }

        .txt-style {

            text-decoration: none;

            p {
                position: relative;
                transform: translate(0%, 25%);
            }
        }

        .default-color {
            color: var(--text-light-color);
        }

        .gradient-color {
            color: var(--background-title-color);
        }

        .txt-style:hover {
            cursor: pointer;
            color: var(--background-title-color);
            color: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
        }
    }

    .line-nav {
        width: 10rem;
        height: 1.1px;
        position: absolute;
        left: 1rem;
        top: 5rem;
        background: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
    }

    .vertical-line-nav {
        height: 35rem;
        width: 1.1px;
        position: absolute;
        left: 12rem;
        top: 3rem;
        background: linear-gradient(180deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
    }

}