@media only screen and (min-width: 64em) {
    .table-report {
        width: 95%;
        height: 100%;
        justify-self: center;
        font-size: 0.9vw;

        thead {
            th {
                text-align: center;
                border-bottom: 1px solid var(--text-title-color);
            }
        }

        tbody {
            .item-table-income {
                color: var(--text-green-color);
                font-weight: 450;
            }

            .item-table-expense {
                color: var(--text-danger-color);
                font-weight: 450;
            }

            .item-table-different {
                color: var(--text-title-color);
                font-weight: 450;
            }
        }

        tfoot {
            td {
                border-top: 1px solid var(--text-title-color);
                font-weight: 500;
                color: var(--text-warning-color);
            }
        }

        td {
            text-align: center;
        }

        #home {}

        .table-month {
            width: 2.7rem;
        }

        .table-income {
            width: 8.5rem;
        }

        .table-expense {
            width: 8.5rem;
        }

        .table-different {
            width: 7rem;
        }
    }
}

@media only screen and (max-width: 46.200625em) {
    .table-report {
        width: 95%;
        height: 100%;
        justify-self: center;

        thead {
            th {
                font-size: 2.5vw;
                height: 3rem;
                text-align: center;
                border-bottom: 1px solid var(--text-title-color);
            }
        }

        tbody {
            font-size: 2.5vw;

            .item-table-income {
                color: var(--text-green-color);
                font-weight: 450;
            }

            .item-table-expense {
                color: var(--text-danger-color);
                font-weight: 450;
            }

            .item-table-different {
                color: var(--text-title-color);
                font-weight: 450;
            }
        }

        tfoot {
            font-size: 2.5vw;

            td {
                height: 3rem;
                border-top: 1px solid var(--text-title-color);
                font-weight: 500;
                color: var(--text-warning-color);
            }
        }

        td {
            height: 2.2rem;
            text-align: center;
        }

        #home {
            height: 1.5rem;
        }
    }
}