@import url("../../../style//variables.scss");

@media only screen and (min-width: 64em) {
    .income-container {
        display: grid;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
        grid-auto-rows: 5% 95%;

        .title-income {
            text-align: center;
            font-size: 1.5vw;
            font-weight: 500;
            color: var(--background-title-color);
        }
    }
}

@media only screen and (max-width: 46.200625em) {
    .income-container {
        justify-content: center;
        justify-items: center;
        display: grid;
        text-align: center;
        width: 95%;
        height: auto;
        align-self: start;
        margin-top: 5rem;

        .title-income {
            text-align: center;
            font-size: 6vw;
            font-weight: 500;
            color: var(--background-title-color);
        }

        .title-container {
            display: flex;
        }
    }
}

.linear-progress {
    position: relative;
    align-content: center;
    justify-content: center;
}