@import url("../../../style//variables.scss");

.income-container {
    justify-content: center;
    justify-items: center;
    display: grid;
    margin: 1rem;
    text-align: center;
    grid-auto-rows: max-content auto;

    .title-income {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--background-title-color);
    }

    .title-container {
        display: flex;

    }

    .footer-link {
        display: flex;
        position: relative;
        left: 0;
        bottom: 1.4rem;
        justify-self: flex-start;
        color: var(--background-light-color);
        font-weight: 500;

        .footer-titel {
            margin-left: 0.5rem;
        }
    }

    .footer-link:hover {
        color: var(--background-title-color);
        cursor: pointer;
    }
}

.auth-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 42rem;

    .auth-style {
        text-align: center;

        .auth-ele {
            margin-bottom: 1rem;
        }

        .auth-title {
            // color: var(--text-title-color);
            background: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
            background-clip: text;
            color: transparent;
        }
    }
}

.linear-progress {
    position: relative;
    align-content: center;
    justify-content: center;
}