@import url("../../../style/mixins.scss");

@media only screen and (min-width: 64em) {
    .popup-container-incomeEditor {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            padding-left: 2rem;
            padding-top: 0.5rem;
            padding-right: 2rem;
            padding-bottom: 0.5rem;
            border-radius: 1rem;
            width: 60vw;
            height: 80%;

            .popup-text {
                height: 7vh;

                label {
                    color: var(--text-light-color);
                    font-size: 1vw;
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;
                    font-size: 1.1vw;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);

                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }

            .popup-text-disable {
                height: 7vh;
                pointer-events: none;

                label {
                    color: var(--text-light-color);
                    font-size: 1vw;
                }

                div {
                    color: var(--text-warning-color);
                    text-align: left;
                    font-size: 1.1vw;

                    input {
                        color: var(--text-warning-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-warning-color);

                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 46.200625em) {
    .popup-container-incomeEditor {
        width: 100%;
        height: auto;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            margin: 0.2rem;
            border-radius: 1rem;
            width: 100%;
            margin-left: 0.5rem;
            margin-top: 1rem;
            justify-items: center;
            align-self: flex-start;

            .popup-text {
                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text-disable {
                pointer-events: none;

                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-warning-color);
                    text-align: left;

                    input {
                        color: var(--text-warning-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }
        }
    }
}