@import url("../../../style/variables.scss");

@media only screen and (min-width: 64em) {
    .incomeRp-container {
        display: grid;
        grid-template-rows: 13% 87%;
        position: relative;
        width: 98%;
        border-radius: 1rem;
        height: 95%;
        margin-left: 1rem;
        margin-top: 1rem;

        .incomeRp-title {
            font-weight: 500;
            font-size: 1.2vw;
            margin-left: 1rem;
            background: rgb(0, 136, 255);
            background: linear-gradient(90deg, rgba(0, 136, 255, 1) 0%, rgba(94, 175, 246, 1) 50%, rgba(177, 218, 252, 1) 100%);
            background-clip: text;
            color: transparent;
            z-index: 100;
        }

        .incomeRp-ctrl-gr {
            background-color: var(--background-rdcolor);
            border-radius: 1rem;



            .incomeRp-filter-group {
                margin-top: 0.5%;
                display: grid;
                grid-template-columns: 22% 22% 22% 22% 12%;
                margin-left: 1rem;

                .btn-style-edit {
                    cursor: pointer;
                }

                .btn-style-edit:hover {
                    color: var(--background-title-color);
                    color: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
                }
            }
        }

        .incomeRp-root {
            display: grid;
            grid-template-columns: 35% 65%;
            margin-top: 1.2rem;
            height: 98%;

            .incomeRp-table {
                display: grid;
                grid-template-rows: 6% 94%;
                font-size: 0.8rem;
                border-radius: 1rem;
                background-color: var(--background-rdcolor);
                height: auto;
            }

            .incomeRp-chart-container {
                border-radius: 1rem;
                background-color: var(--background-rdcolor);
                margin-left: 0.8rem;
                display: grid;
                grid-template-rows: 6% 94%;

                .incomeRp-chart {
                    height: 100%;
                    display: grid;
                    grid-template-rows: auto auto auto auto;
                }
            }
        }

    }
}

@media only screen and (max-width: 46.200625em) {
    .incomeRp-container {
        z-index: 0;
        position: relative;
        width: 95%;
        border-radius: 1rem;
        top: 6rem;

        .incomeRp-ctrl-gr {
            background-color: var(--background-rdcolor);
            border-radius: 1rem;

            .incomeRp-title {
                font-weight: 400;
                font-size: 4vw;
                margin-left: 1rem;
                margin-top: -1.1rem;
                color: var(--text-title-color);

            }

            .incomeRp-filter-group {
                margin-top: 0.8rem;
                display: grid;
                grid-template-rows: auto auto auto auto auto;
                justify-items: center;

                .multidrp-container {
                    margin-bottom: 1rem;
                    width: 95%;

                    .css-1lwnzfb-MuiFormControl-root {
                        div {
                            width: 100%;
                        }
                    }
                }

                .btn-style-edit {
                    cursor: pointer;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    justify-self: right;
                    font-size: 3vw;

                }

                .btn-style-edit:hover {
                    color: var(--background-title-color);
                    color: linear-gradient(90deg, rgba(0, 176, 240, 1) 0%, rgba(0, 117, 240, 1) 35%, rgba(51, 0, 255, 1) 100%);
                }
            }
        }

        .incomeRp-root {
            margin-top: 1.2rem;

            .incomeRp-table {
                font-size: 0.8rem;
                border-radius: 1rem;
                background-color: var(--background-rdcolor);
                margin-left: 0.3rem;
                margin-right: 0.3rem;
                height: auto;

                .incomeRp-title {
                    font-size: 4vw;
                    margin-left: 1rem;
                    font-weight: 400;
                    margin-bottom: 0.5rem;
                    color: var(--text-title-color);
                    height: 0.5rem;
                }

                .table-report {
                    width: 95%;
                    height: 95%;
                    justify-self: center;
                    margin-top: 5vw;

                    thead {
                        th {
                            font-size: 3vw;
                            height: 3rem;
                            text-align: center;
                            border-bottom: 1px solid var(--text-title-color);
                        }
                    }

                    tbody {
                        font-size: 3vw;

                        .item-table-income {
                            color: var(--text-green-color);
                            font-weight: 450;
                        }

                        .item-table-expense {
                            color: var(--text-danger-color);
                            font-weight: 450;
                        }

                        .item-table-different {
                            color: var(--text-title-color);
                            font-weight: 450;
                            text-align: right;
                        }
                    }

                    tfoot {
                        font-size: 3vw;

                        td {
                            height: 3rem;
                            border-top: 1px solid var(--text-title-color);
                            font-weight: 500;
                            color: var(--text-warning-color);
                        }
                    }

                    td {
                        height: 2.2rem;
                        text-align: center;
                    }

                    #home {
                        height: 1.5rem;
                    }
                }
            }

            .incomeRp-chart-container {
                margin-top: 1.2rem;
                border-radius: 1rem;
                background-color: var(--background-rdcolor);
                margin-left: 0.3rem;
                margin-right: 0.3rem;

                .incomeRp-title {
                    font-size: 4vw;
                    margin-left: 1rem;
                    font-weight: 400;
                    margin-bottom: 0.5rem;
                    color: var(--text-title-color);
                    height: 0.5rem;
                    margin-bottom: 1.2rem;
                }

                .incomeRp-chart {
                    height: 35rem;
                    display: grid;
                    grid-template-rows: auto auto auto auto auto auto;
                }
            }
        }

    }
}