@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-stcolor);
    color: var(--text-light-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 100%;

    // overflow: hidden;

    .gird-container {
        display: grid;
        grid-template-columns: 17rem auto;

        .group-left-area {
            display: grid;
            grid-template-columns: 10rem auto;
            grid-template-rows: 6rem 40rem;
            grid-template-areas: 'header header' 'main main';

            .header-navbar {
                grid-area: header;
            }

            .router {
                grid-area: main;
                background-color: var(--background-ndcolor);
                border-radius: 1.5rem;
                margin-right: 1rem;
            }
        }
    }

    line {
        stroke: var(--background-title-color);
    }
}