:root {
    --background-stcolor: #000000;
    --background-ndcolor: #181a20;
    --background-rdcolor: #2b3139;
    --background-gradient-color:#00ffee;
    --background-title-color:#00b0f0;

    --text-dark-color: #000000;
    --text-light-color: #ffffff;
    --text-gradient-color: #00ffee;
    --text-danger-color: #a81515;
    --text-title-color:#00b0f0;


    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}