@import url("../../../style//variables.scss");

.bankList-container {
    justify-content: center;
    justify-items: center;
    display: grid;
    margin: 1rem;
    text-align: center;
    grid-auto-rows: max-content auto;

    .title-bankList {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--background-title-color);
    }

    .title-container {
        display: flex;

    }

    .footer-link {
        display: flex;
        position: relative;
        left: 0;
        bottom: 1.4rem;
        justify-self: flex-start;
        color: var(--background-light-color);
        font-weight: 500;

        .footer-titel {
            margin-left: 0.5rem;
        }
    }

    .footer-link:hover {
        color: var(--background-title-color);
        cursor: pointer;
    }
}