@import url("../../../style//variables.scss");

.invest-container {
    .report-invest {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        font-size: small;
        margin-bottom: 1rem;
        grid-auto-rows: max-content auto;

        .report-item {
            display: flex;
            justify-content: end;
            height: 1.5rem;
        }

        p {
            justify-content: flex-end;
            margin-right: 2rem;
        }

        span {}
    }

    justify-content: center;
    justify-items: center;
    display: grid;
    margin: 1rem;
    text-align: center;

    .title-invest {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--background-title-color);
    }
}