@import url(../../../style/variables.scss);

@media only screen and (min-width: 64em) {
    .home-root {
        height: 100%;

        .home-container {
            display: grid;
            grid-template-columns: 35% 64%;
            grid-template-rows: 40% 60%;
            height: 100%;

            .title-container {
                font-weight: 500;
                font-size: 1.3vw;
                margin-left: 1rem;
                background: rgb(0, 136, 255);
                background: linear-gradient(90deg, rgba(0, 136, 255, 1) 0%, rgba(94, 175, 246, 1) 50%, rgba(177, 218, 252, 1) 100%);
                background-clip: text;
                color: transparent;
                z-index: 100;
            }

            .distance-box {
                height: unset;
            }

            .top-left-container {
                background-color: var(--background-rdcolor);
                margin-left: 1rem;
                margin-bottom: 1rem;
                margin-top: 0.5rem;
                border-radius: 1rem;
                display: grid;
                grid-template-rows: 15% 85%;

                .css-l0h214-MuiResponsiveChart-container {
                    height: 12.3rem;
                }

                .box {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;
                    position: relative;

                    .box-SO-container {
                        grid-template-rows: 30% 40% 30%;
                        display: grid;
                        border-radius: 1rem;
                        margin-right: 0.5rem;
                        margin-bottom: 1rem;
                        background: rgb(195, 34, 128);
                        background: radial-gradient(circle, rgba(195, 34, 128, 1) 0%, rgba(194, 34, 195, 1) 100%);
                    }

                    .box-TK-container {
                        grid-template-rows: 30% 40% 30%;
                        display: grid;
                        border-radius: 1rem;
                        margin-left: 0.3rem;
                        margin-bottom: 1rem;
                        background: rgb(93, 195, 34);
                        background: linear-gradient(0deg, rgba(93, 195, 34, 1) 0%, rgba(34, 193, 195, 1) 100%);
                    }

                    .box-DT-container {
                        grid-template-rows: 30% 40% 30%;
                        display: grid;
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        margin-right: 0.3rem;
                        background: rgb(16, 90, 199);
                        background: linear-gradient(90deg, rgba(16, 90, 199, 1) 0%, rgba(27, 111, 173, 1) 50%, rgba(25, 182, 196, 1) 100%);
                    }

                    .box-TD-container {
                        grid-template-rows: 30% 40% 30%;
                        display: grid;
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        margin-left: 0.3rem;
                        background: rgb(113, 27, 173);
                        background: linear-gradient(90deg, rgba(113, 27, 173, 1) 0%, rgba(158, 114, 189, 1) 50%, rgba(233, 230, 235, 1) 100%);
                    }

                    .title {
                        margin-left: 0.5rem;
                        font-size: 1vw;
                    }

                    .money {
                        text-align: end;
                        font-weight: 500;
                        margin-right: 0.5rem;
                        font-size: 1.3vw;
                        align-self: center;
                    }

                    .bank {
                        margin-left: 0.5rem;
                        color: var(--text-warning-color);
                        font-size: 1vw;
                        align-self: center;
                    }
                }
            }

            .top-right-container {
                background-color: var(--background-rdcolor);
                margin-left: 1rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                display: grid;
                grid-template-rows: 15% 85%;

                .css-l0h214-MuiResponsiveChart-container {
                    width: 100%;
                    height: 100%;
                }
            }

            .bottom-left-container {
                background-color: var(--background-rdcolor);
                margin-left: 1rem;
                border-radius: 1rem;
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
                display: grid;
                grid-template-rows: 7% 91%;
            }

            .bottom-right-container {
                display: grid;
                grid-template-columns: 50% 50%;

                .tk-report-container {
                    background-color: var(--background-rdcolor);
                    margin-left: 1rem;
                    border-radius: 1rem;
                    margin-bottom: 0.5rem;
                    display: grid;
                    grid-template-rows: 9% 91%;

                    .distance-box {
                        display: none;
                    }

                    .box {
                        margin-left: 0.8rem;
                        display: grid;
                        grid-template-rows: 25% 25% 25% 25%;

                        .item-box {
                            border-radius: 1rem;
                            margin-bottom: 0.7rem;
                            margin-right: 1rem;
                            justify-items: center;
                            align-items: center;
                            display: flex;

                            .icon-container {
                                background-color: #e3b393;
                                margin-left: 1rem;
                                border: solid 0.2rem var(--text-light-color);
                                border-radius: 50%;
                                height: 3.5rem;
                                width: 3.5rem;
                                justify-content: center;
                                align-items: center;
                                display: flex;

                                .icon {
                                    color: var(--text-light-color);
                                    width: 2.2rem;
                                    height: 2.2rem;
                                }
                            }

                            .box-title {
                                display: grid;
                                grid-template-rows: 1rem 3rem;
                                margin-left: 0.5rem;

                                .money-title {

                                    font-weight: 500;
                                    font-size: 0.9rem;
                                    color: var(--text-dark-color);
                                }

                                .money-value {
                                    align-self: end;
                                    font-weight: 700;
                                    font-size: 1.4rem;
                                    color: var(--text-ndtitle-color);
                                }
                            }
                        }

                        .first-box {
                            background: rgb(19, 221, 199);
                            background: linear-gradient(90deg, rgba(19, 221, 199, 1) 0%, rgba(121, 236, 223, 1) 50%, rgba(197, 242, 237, 1) 100%);
                        }

                        .second-box {
                            background: rgb(236, 183, 40);
                            background: linear-gradient(90deg, rgba(236, 183, 40, 1) 0%, rgba(217, 175, 66, 1) 50%, rgba(222, 195, 121, 1) 100%);
                        }

                        .third-box {
                            background: rgb(199, 130, 29);
                            background: linear-gradient(90deg, rgba(199, 130, 29, 1) 0%, rgba(198, 146, 71, 1) 50%, rgba(194, 158, 105, 1) 100%);
                        }

                        .forth-box {
                            background: rgb(232, 36, 151);
                            background: linear-gradient(90deg, rgba(232, 36, 151, 1) 0%, rgba(233, 94, 176, 1) 50%, rgba(230, 131, 189, 1) 100%);
                        }
                    }
                }

                .dt-report-container {

                    background-color: var(--background-rdcolor);
                    margin-left: 1rem;
                    border-radius: 1rem;
                    margin-bottom: 0.5rem;

                    .box-TD-root {
                        display: grid;
                        grid-template-rows: 7rem 12rem;
                        width: 100%;
                        justify-items: center;
                        align-content: center;
                        margin-top: 3vh;

                        .box-item {
                            border-radius: 1rem;
                            margin-right: 0.5rem;
                            width: 95%;
                            background-color: #cbb0b4;
                            height: 7rem;
                            text-align: center;
                            align-content: center;
                            font-size: 1.2vw;
                        }

                        .second-gr-box {
                            display: grid;
                            justify-items: center;
                            grid-template-columns: 50% 50%;
                            margin-top: 1rem;
                            height: 95%;
                            font-size: 1vw;

                            .box-item {
                                border-radius: 1rem;
                                margin-right: 0.5rem;

                                align-content: center;
                            }

                            .box-item-first {
                                background-color: #aac7cf;
                                height: 9rem;
                            }

                            .box-item-second {
                                height: 9rem;
                                background-color: #cfc5a8;
                            }
                        }

                        .title {
                            color: var(--text-dark-color);
                        }

                        .money {
                            color: var(--text-ndtitle-color);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 46.200625em) {
    .home-root {
        width: 100%;

        .home-container {
            width: 100%;
            display: grid;
            justify-items: center;
            z-index: -2;
            grid-template-rows: auto auto auto auto;
            margin-top: 5rem;

            .title-container {
                font-weight: 500;
                font-size: 4vw;
                margin-left: 1rem;
                background: rgb(0, 136, 255);
                background: linear-gradient(90deg, rgba(0, 136, 255, 1) 0%, rgba(94, 175, 246, 1) 50%, rgba(177, 218, 252, 1) 100%);
                background-clip: text;
                color: transparent;
                z-index: 0;
                position: absolute;
            }

            .distance-box {
                height: 5vw;
            }

            .top-left-container {
                background-color: var(--background-rdcolor);
                border-radius: 1rem;
                height: 32rem;
                width: 90%;
                justify-content: center;
                justify-items: center;

                .box {
                    margin-top: 4rem;
                    width: 100%;
                    justify-items: center;
                    height: 32.5vh;

                    .title {
                        margin-left: 0.5rem;
                        margin-top: 0.2rem;
                        font-size: 1.7rem;
                        font-weight: 500;
                    }

                    .money {
                        right: 11vw;
                        position: absolute;
                        font-size: 2rem;
                        font-weight: 500;
                        margin-top: -2vw;
                    }

                    .bank {
                        margin-left: 0.5rem;
                        font-size: 1.3rem;
                        color: var(--text-warning-color);
                        margin-top: 1.6rem;
                        font-weight: 500;
                    }

                    .box-SO-container {
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        height: 6rem;
                        width: 90%;
                        background: rgb(195, 34, 128);
                        background: radial-gradient(circle, rgba(195, 34, 128, 1) 0%, rgba(194, 34, 195, 1) 100%);
                    }

                    .box-TK-container {
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        height: 6rem;
                        width: 90%;
                        background: rgb(93, 195, 34);
                        background: linear-gradient(0deg, rgba(93, 195, 34, 1) 0%, rgba(34, 193, 195, 1) 100%);
                    }

                    .box-DT-container {
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        height: 6rem;
                        width: 90%;
                        background: rgb(16, 90, 199);
                        background: linear-gradient(90deg, rgba(16, 90, 199, 1) 0%, rgba(27, 111, 173, 1) 50%, rgba(25, 182, 196, 1) 100%);
                    }

                    .box-TD-container {
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        height: 6rem;
                        width: 90%;
                        background: rgb(113, 27, 173);
                        background: linear-gradient(90deg, rgba(113, 27, 173, 1) 0%, rgba(158, 114, 189, 1) 50%, rgba(233, 230, 235, 1) 100%);
                    }
                }
            }

            .top-right-container {
                background-color: var(--background-rdcolor);
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                height: 25.5rem;
                width: 90%;

                .pieChart {
                    z-index: -2;
                }

                .css-l0h214-MuiResponsiveChart-container {
                    .css-y4a6tn-MuiChartsSurface-root {
                        .css-1u0lry5-MuiChartsLegend-root {
                            display: none;
                        }
                    }

                }
            }

            .bottom-left-container {
                background-color: var(--background-rdcolor);
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                font-size: 0.8rem;
                height: 40rem;
                width: 90%;

                .table-report {
                    width: 95%;
                    height: 95%;
                    justify-self: center;
                    margin-top: 5vw;

                    thead {
                        th {
                            font-size: 3vw;
                            height: 3rem;
                            text-align: center;
                            border-bottom: 1px solid var(--text-title-color);
                        }
                    }

                    tbody {
                        font-size: 3vw;

                        .item-table-income {
                            color: var(--text-green-color);
                            font-weight: 450;
                        }

                        .item-table-expense {
                            color: var(--text-danger-color);
                            font-weight: 450;
                        }

                        .item-table-different {
                            color: var(--text-title-color);
                            font-weight: 450;
                            text-align: right;
                        }
                    }

                    tfoot {
                        font-size: 3vw;

                        td {
                            height: 3rem;
                            border-top: 1px solid var(--text-title-color);
                            font-weight: 500;
                            color: var(--text-warning-color);
                        }
                    }

                    td {
                        height: 2.2rem;
                        text-align: center;
                    }

                    #home {
                        height: 1.5rem;
                    }
                }
            }

            .bottom-right-container {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                border-radius: 1rem;
                font-size: 0.8rem;
                height: 27.8rem;
                width: 90%;

                .tk-report-container {
                    background-color: var(--background-rdcolor);
                    margin-bottom: 1rem;
                    border-radius: 1rem;

                    .box {
                        margin-top: 1rem;
                        margin-left: 0.8rem;
                        display: grid;
                        grid-template-rows: 25% 25% 25% 25%;
                        justify-items: center;
                        height: 37rem;

                        .item-box {
                            border-radius: 1rem;
                            margin-bottom: 1rem;
                            width: 95%;
                            justify-items: center;
                            align-items: center;
                            display: grid;
                            grid-template-columns: 5rem auto;

                            .icon-container {
                                background-color: #e3b393;
                                margin-left: 1rem;
                                border: solid 0.2rem var(--text-light-color);
                                border-radius: 50%;
                                height: 10vw;
                                width: 10vw;
                                justify-content: center;
                                align-items: center;
                                display: flex;

                                .icon {
                                    color: var(--text-light-color);
                                    width: 2.2rem;
                                    height: 2.2rem;
                                }
                            }

                            .box-title {
                                display: grid;
                                grid-template-rows: 5vw 11vw;
                                margin-left: 1rem;
                                justify-self: left;

                                .money-title {
                                    font-weight: 500;
                                    font-size: 4vw;
                                    color: var(--text-dark-color);
                                }

                                .money-value {
                                    align-self: end;
                                    font-weight: 500;
                                    font-size: 6vw;
                                    color: var(--text-ndtitle-color);
                                }
                            }
                        }

                        .first-box {
                            background: rgb(19, 221, 199);
                            background: linear-gradient(90deg, rgba(19, 221, 199, 1) 0%, rgba(121, 236, 223, 1) 50%, rgba(197, 242, 237, 1) 100%);
                        }

                        .second-box {
                            background: rgb(236, 183, 40);
                            background: linear-gradient(90deg, rgba(236, 183, 40, 1) 0%, rgba(217, 175, 66, 1) 50%, rgba(222, 195, 121, 1) 100%);
                        }

                        .third-box {
                            background: rgb(199, 130, 29);
                            background: linear-gradient(90deg, rgba(199, 130, 29, 1) 0%, rgba(198, 146, 71, 1) 50%, rgba(194, 158, 105, 1) 100%);
                        }

                        .forth-box {
                            background: rgb(232, 36, 151);
                            background: linear-gradient(90deg, rgba(232, 36, 151, 1) 0%, rgba(233, 94, 176, 1) 50%, rgba(230, 131, 189, 1) 100%);
                        }
                    }
                }

                .dt-report-container {
                    height: 27rem;
                    width: 90%;
                    justify-content: center;
                    justify-items: center;
                    padding-bottom: 1rem;

                    .bg-box {
                        opacity: 0.5;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        border-radius: 1rem;
                        z-index: -1;
                        height: 27rem;
                        width: 90%;
                        justify-content: center;
                        justify-items: center;
                        margin-bottom: 1rem;
                    }

                    .box-TD-root {
                        z-index: 0;
                        position: absolute;
                        margin-top: 5rem;
                        display: grid;
                        grid-template-rows: auto auto;
                        justify-items: center;
                        align-content: center;
                        width: 90%;

                        .box-item {
                            border-radius: 1rem;
                            width: 98%;
                            background-color: #cbb0b4;
                            height: 7rem;
                            text-align: center;
                            align-content: center;

                            .title {
                                color: var(--text-dark-color);
                                font-size: 4vw;
                            }

                            .money {
                                color: var(--text-ndtitle-color);
                                font-weight: 500;
                                font-size: 5vw;
                            }
                        }

                        .second-gr-box {
                            display: grid;
                            justify-items: center;
                            grid-template-columns: 50% 50%;
                            margin-top: 2rem;
                            width: 99%;

                            .box-item {
                                border-radius: 1rem;
                                width: 90%;
                                align-content: center;
                            }

                            .box-item-first {
                                background-color: #aac7cf;

                                .title-nd {
                                    color: var(--text-dark-color);
                                    font-size: 3vw;
                                }

                                .money-nd {
                                    color: var(--text-ndtitle-color);
                                    font-weight: 500;
                                    font-size: 5vw;
                                }
                            }

                            .box-item-second {
                                background-color: #cfc5a8;

                                .title-nd {
                                    color: var(--text-dark-color);
                                    font-size: 3vw;
                                }

                                .money-nd {
                                    color: var(--text-ndtitle-color);
                                    font-weight: 500;
                                    font-size: 5vw;
                                }

                            }
                        }


                    }
                }
            }
        }
    }
}