@import url("../../../style//variables.scss");

.saving-container {
    grid-auto-rows: max-content auto;

    .report-saving {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        font-size: small;
        margin-bottom: 1rem;
        justify-content: center;

        .report-item {
            display: flex;
            justify-content: end;
            height: 1.5rem;
        }

        p {
            justify-content: flex-end;
            margin-right: 2rem;
        }

        span {
            width: 10rem;
            text-align: left;
        }

    }

    justify-content: center;
    justify-items: center;
    display: grid;
    margin: 1rem;
    text-align: center;

    .title-saving {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--background-title-color);
    }

    .footer-link {
        display: flex;
        position: relative;
        left: 0;
        bottom: 1.4rem;
        justify-self: flex-start;
        color: var(--background-light-color);
        font-weight: 500;

        .footer-titel {
            margin-left: 0.5rem;
        }
    }

    .footer-link:hover {
        color: var(--background-title-color);
        cursor: pointer;
    }
}