@import url("../../../style/mixins.scss");

.popup-container {
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    height: 38rem;

    .popup-form {
        display: grid;
        justify-content: center;
        background-color: var(--background-rdcolor);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        border-radius: 1rem;

        .text-container {
            display: grid;
            grid-template-columns: auto auto;
            margin-right: 2.5rem;

            .left-group-input {
                margin-right: 0.1rem;
            }

            .right-group-input {
                margin-left: 0.1rem;
            }

            // .text-disable {
            //     disabled:
            // }

            .popup-text {
                margin-bottom: 1rem;
                margin-right: 1rem;
                width: 21rem;

                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }
        }
    }
}