@import url("../../../style//variables.scss");

@media only screen and (min-width: 64em) {
    .expense-container {
        display: grid;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
        grid-auto-rows: 5% 95%;

        .title-expense {
            text-align: center;
            font-size: 1.5vw;
            font-weight: 500;
            color: var(--background-title-color);
        }
    }
}


@media only screen and (max-width: 46.200625em) {
    .expense-container {
        justify-content: center;
        justify-items: center;
        display: grid;
        text-align: center;
        width: 95%;
        height: auto;
        align-self: start;
        margin-top: 5rem;

        .title-expense {
            text-align: center;
            font-size: 6vw;
            font-weight: 500;
            color: var(--background-title-color);
        }

        .title-container {
            display: flex;
        }

        .footer-link {
            display: flex;
            position: relative;
            justify-self: flex-start;
            color: var(--background-light-color);
            font-weight: 500;

            .footer-title {
                align-content: center;
                font-size: 3.5vw;
                margin-left: 0.5rem;
                margin-top: -0.5rem;
            }
        }

        .footer-link:hover {
            color: var(--background-title-color);
            cursor: pointer;
        }
    }
}