@import url("../../../style/mixins.scss");



@media screen and (min-width: 376px) {
    .popup-container-expense {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 42rem;
        width: 70.5rem;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            border-radius: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            .popup-text {
                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .popup-container-expense {
        height: 38rem;
        width: 23.4rem;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            margin: 0.2rem;
            border-radius: 1rem;
            width: 21.5rem;
            margin-left: 0.5rem;
            margin-top: 2.8rem;
            justify-items: center;
            align-self: flex-start;

            .popup-text {
                label {
                    color: var(--text-light-color);
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }
        }
    }
}