@import url("../../../style/mixins.scss");

@media only screen and (min-width: 64em) {
    .popup-container-incomeList {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            padding-left: 2rem;
            padding-top: 0.5rem;
            padding-right: 2rem;
            padding-bottom: 0.5rem;
            border-radius: 1rem;
            width: 60vw;
            height: 50%;

            .popup-text {
                height: 7vh;

                label {
                    color: var(--text-light-color);
                    font-size: 1vw;
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;
                    font-size: 1.1vw;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                        -webkit-text-fill-color: var(--text-light-color);

                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                        ;
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 46.200625em) {
    .popup-container-incomeList {
        width: 100%;
        height: auto;

        .popup-form {
            display: grid;
            justify-content: center;
            background-color: var(--background-rdcolor);
            box-shadow: var(--box-shadow);
            padding: 1rem;
            border-radius: 1rem;

            .popup-text {
                width: 84vw;

                label {
                    color: var(--text-light-color);
                    font-size: 3vw;
                }

                div {
                    color: var(--text-light-color);
                    text-align: left;
                    font-size: 4vw;

                    input {
                        color: var(--text-light-color);
                        text-align: left;
                    }

                    fieldset {
                        border-color: var(--text-title-color);
                        ;
                    }

                    svg {
                        color: var(--text-title-color);
                    }
                }
            }

            .popup-text:hover {
                label {
                    color: var(--text-danger-color);
                }

                div {
                    input {
                        color: var(--text-light-color);
                        ;
                    }

                    fieldset {
                        border-color: var(--text-danger-color);
                        ;
                    }
                }
            }

            .css-1grant-MuiStack-root {
                width: 85vw;

                button {
                    font-size: 3vw;
                }
            }

            .css-1kbj1cy-MuiStack-root {
                width: 85vw;

                button {
                    font-size: 3vw;
                }
            }
        }
    }
}